#custom_menu_layout {
  width: 80%;
  margin: 30px;
  position: fixed;
  top: 50px;
  left: 10%;
  background: white;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  z-index: 1000000;
  border: 1px solid #ccc;
}

#custom_menu_layout[data-close="true"] {
  display: none;
}

#custom_menu_layout_title {
  padding: 10px 20px;
  text-align: right;
}

#custom_menu_layout_title a {
  color: #555;
}

#custom_menu_layout_container {
  padding: 10px 20px;
}

.cm_upload > div {
  display: none;
}

.cm_upload[data-step="set_operator"] > #set_operator,
.cm_upload[data-step="upload_window"] > #upload_window,
.cm_upload[data-step="upload_result"] > #upload_result,
.cm_upload[data-step="upload_error"] > #upload_error {
  display: block;
}